In [ ]:
# 정수 값을 하나 받아서 세제곱하는 함수

print( ( lambda x:x**3 )( int(input()) ) )

In [5]:
# 반지름을 입력 받아 원의 넓이를 구하는 함수 (파이는 3.14)

print((lambda r: r*r*3.14)(int(input())))

5
78.5

In [6]:
# *** 시험!!! ***filter에 들어가는 람다식은 true/false가 결과값으로 나오는 조건을 받아서 true의 결과값들만 결과로 나온다

list(filter(lambda x : x<5, range(10)))

[0, 1, 2, 3, 4]

In [8]:
# 문장을 입력 받아 공백으로 구분되는 단어들의 첫자를 대문자로 바꾼 리스트를 구하는 함수

print( list(map(lambda w : w.capitalize(), input().split())))

hello world
['Hello', 'World']